NODE_ENV=development
PORT=5001
DATABASE_URL=postgresql://postgres:Mm200305105023@db.qnqgldspgtnsohyvwgnm.supabase.co:5432/postgres

JWT_ACCESS_SECRET=your_super_secret_access_token_secret
JWT_REFRESH_SECRET=your_super_secret_refresh_token_secret

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

AUTH_COOKIE_NAME=access_token
AUTH_COOKIE_MAX_AGE=900000

CORS_ORIGIN=http://localhost:3000

LOG_LEVEL=info

# Email Configuration
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-smtp-user
SMTP_PASSWORD=ycrw awwj jbuz vxeb
SMTP_FROM="Maddy Tattoo Artist <noreply@example.com>"
QUERY_NOTIFICATION_EMAIL=admin@example.com
ADMIN_PANEL_URL=http://localhost:3000/admin
